#landing {
  height: 100%;

  font-weight: 100;

  /* Make button a bit smaller to fit landing */
  button {
    padding: 10px;
  }

  .header {
    width: 100%;
    height: 80px;

    .left, .right {
        padding: 10px;
    }

    .right {
        text-align: right;
    }
  }

  .center {
    text-align: center;

    header.logo {
      font-size: 4em;
      margin-bottom: 10px;
    }

    header.slogan {
      font-size: 1.55em;
      font-style: italic;
    }

    .calendar {
      width: 400px;
      opacity: 0.5;
    }
  }

}
