@import "flex";

$login-background: #f5f5f5;


#landing {
  background: $login-background;
  height: 100%;

  font-weight: 100;

  .header {
    height: 30%;
    text-align: center;
    padding-top: 40px;

    header.logo {
      font-size: 4em;
      margin-bottom: 10px;
    }

    header.slogan {
      font-size: 1.5em;
      margin-bottom: 60px;
      font-style: italic;
    }
  }

  .center {
    @include flexbox;
    background: $login-background;
    height: 40%;

    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .bottom {
    background: $login-background;
    height: 30%;
  }
}
