@import url(vendor/foundation.css);
/* Global theme variables */
body, html {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url(../fonts/roboto-thin.woff) format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url(../fonts/roboto-regular.woff) format("woff");
}

#main, #main > div:first-child, .view {
  width: 100%;
  height: 100%;
  min-width: 450px;
  background: whitesmoke;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Fonts and vendor styles */
/* Random general */
.hidden {
  display: none;
  visibility: hidden;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  color: #444444;
  text-decoration: none;
}
a:visited {
  color: #444444;
}
a:hover {
  color: #aaaaaa;
  text-decoration: none;
}

label, header {
  color: #555555;
}

div, p, input {
  color: #444444;
}

.error {
  background: #FFF4F4;
}

.error-label {
  color: #C99393;
}

/* Views */
#landing {
  height: 100%;
  font-weight: 100;
  /* Make button a bit smaller to fit landing */
}
#landing button {
  padding: 10px;
}
#landing .header {
  width: 100%;
  height: 80px;
}
#landing .header .left, #landing .header .right {
  padding: 10px;
}
#landing .header .right {
  text-align: right;
}
#landing .center {
  text-align: center;
}
#landing .center header.logo {
  font-size: 4em;
  margin-bottom: 10px;
}
#landing .center header.slogan {
  font-size: 1.55em;
  font-style: italic;
}
#landing .center .calendar {
  width: 400px;
  opacity: 0.5;
}

#calendar {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}
#calendar .header {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  width: 100%;
  height: 100px;
}
#calendar .header .left, #calendar .header .right {
  padding: 10px;
}
#calendar .header .left {
  -webkit-flex: 1;
  flex: 1;
  text-align: left;
}
#calendar .header .right {
  -webkit-flex: 1;
  flex: 1;
  text-align: right;
}
#calendar p.error-label {
  padding-left: 2px;
}
#calendar .calendar-input {
  -webkit-flex: 1;
  flex: 1;
  width: 80%;
  max-width: 800px;
  height: 300px;
}
#calendar .calendar-input label {
  font-size: 1.5em;
  display: block;
  margin-bottom: 10px;
}
#calendar .calendar-input input, #calendar .calendar-input button {
  height: 45px;
}
#calendar .calendar-input input {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  padding: 10px;
}
#calendar .calendar-input button {
  /* Fix small gap between input and button */
  margin-left: -1px;
}

#loading {
  background: white;
  padding-top: 50px;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
#loading .loader {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: fixed;
  z-index: 2000;
  width: 20px;
  height: 20px;
  border: solid 2px transparent;
  border-top-color: #b5b5b5;
  border-left-color: #b5b5b5;
  border-bottom-color: #b5b5b5;
  border-radius: 20px;
  -webkit-animation: loader-spinner 500ms linear infinite;
  -ms-animation: loader-spinner 500ms linear infinite;
  animation: loader-spinner 500ms linear infinite;
}

@-webkit-keyframes loader-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes loader-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
