<div class="view" id="calendar">

  <div class="header">
    <div class="left">

    </div>
    <div class="right">
        <a id="logout" href="#logout">Logout</a>
    </div>
  </div>

  <div class="calendar-input">
    <label for="event-input">New event</label>

    <div class="row collapse">
      <div class="small-10 columns">
        <input id="event-input" placeholder="e.g Coffee, friday 1pm @Starbucks" type="text" class="">
      </div>
      <div class="small-2 columns">
        <button id="create-event" class="button postfix radius">Create</button>
      </div>
    </div>

    <p id="error" class="error-label"></p>
  </div>

</div>
